In [1]:
student01 = ('KK', 18, 'M', 2201)
student01[0]

'KK'

In [5]:
from dataclasses import dataclass

@dataclass
class Student:
    name: str
    gender: str
    age: int
    number: int

In [8]:
stu01 = Student('KK', 'F', 23, 2201)
print(stu01)
stu02 = Student('MM', 'M', 20, 2202)
print(stu02 == stu01)

Student(name='KK', gender='F', age=23, number=2201)
False

In [9]:
class Student:
    def __init__(self, name: str, gender: str, age: int, number: int):
        self.name = name
        self.gender = gender
        self.age = age
        self.number = number

In [12]:
from dataclasses import asdict, astuple, is_dataclass
asdict(stu01)       # {'name': 'KK', 'gender': 'F', 'age': 23, 'number': 2201}
astuple(stu01)      # ('KK', 'F', 23, 2201)
is_dataclass(stu01) # True

('KK', 'F', 23, 2201)

In [15]:
from dataclasses import field
from typing import List

@dataclass
class Student:
    name: str
    gender: str
    age: int
    number: int

@dataclass
class Group:
    name: str
    students: List[Student] = field(default_factory=list)

stu01 = Student('KK', 'F', 23, 2201)
stu02 = Student('MM', 'M', 20, 2202)
group_first = Group('To be number one', [stu01, stu02])
group_first

Group(name='To be number one', students=[Student(name='KK', gender='F', age=23, number=2201), Student(name='MM', gender='M', age=20, number=2202)])

In [ ]:
from dataclasses import dataclass
from typing import Any

@dataclass(frozen=True)
class Data:
    name: Any
    value: Any = 42

data = Data("myname", 99)
data.name = "other"             # FrozenInstanceError: cannot assign to field 'name'

In [5]:
from itertools import islice
iter = islice('ABCDEFG', 2, None)
for item in iter:
    print(item)
print(islice('ABCDEFG', 2, 4))

C
D
E
F
G
<itertools.islice object at 0x000001DA8FF0BA40>

In [6]:
import itertools
for i in itertools.product([1, 2, 3], [4, 5, 6]):
    print(i)

(1, 4)
(1, 5)
(1, 6)
(2, 4)
(2, 5)
(2, 6)
(3, 4)
(3, 5)
(3, 6)

In [8]:
from tqdm import tqdm
from time import sleep
for i in tqdm(range(10000)):
    sleep(0.1)

100%|██████████| 10000/10000 [18:08<00:00,  9.19it/s]